# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Truffle 및 빌드 관련
build/
coverage/
coverage.json
allFiredEvents
debug.log

# 환경 파일
.env
.env.local
.env.*.local

# MacOS 및 IDE 파일
.DS_Store
.vscode/
.idea/
*.swp

# Solidity 관련
*.log
*.sol.md
*.tsol

# 테스트 보고서
test-results/
