li {
  list-style: none;
}

a {
  text-decoration: none;
}

.align-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 10%;
}

.title p {
  margin: 0;
  font-size: 6.3vw;
  color: aliceblue;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  padding: 0;
  margin-top: 5%;
}

.btn {
  padding: 0 3rem;
  width: 15%;
}

.account, .balance{
  font-size: 20px;
  font-weight: bold;
}